################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlankApp1/BlankApp1/BlankApp1/bin/Debug/netstandard2.0
