USE [master]
GO
/****** Object:  Database [AulaEnt]    Script Date: 28/09/2020 15:41:20 ******/
CREATE DATABASE [AulaEnt]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AulaEnt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AulaEnt.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AulaEnt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\AulaEnt_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AulaEnt].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AulaEnt]
GO
/****** Object:  Table [dbo].[Alunos]    Script Date: 28/09/2020 15:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alunos](
	[idAluno] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](200) NOT NULL,
	[telefone] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Alunos] PRIMARY KEY CLUSTERED 
(
	[idAluno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
